@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --background: 15 10 30;
  --foreground: 240 100 98;
  --primary: 51 84 55;
  --secondary: 76 53 69;
  --muted: 45 27 86;
  --accent: 51 84 55;
  --destructive: 0 84 60;
  --border: 76 53 69;
  --input: 45 27 86;
  --ring: 51 84 55;
  --radius: 0.5rem;
}
